.conhead{
    padding-top: 5px;
    background-color: rgb(255, 255, 255);   
}

.con2{
    width: 60%;
    margin-left: 20%;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);   
}

.test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    padding: 5px 0px 5px 0px;
    border: 1px solid black;
}
