
.back{
    background: url(./background.jpg) no-repeat;
    width: 100vw;
    position: fixed;
    background-position: 50%;
    background-size: cover;
    height: 100vh;
    z-index: -1;
    top:0;
    left:0;
}
.photo {
    width: 40%;
    height: auto;
    margin: auto;
    padding-bottom: 10px;
}

.card{
    margin: 10px;
}
.con{
    width: 60%;
    margin-left: 20%;
    padding-top: 5px;
    background-color: rgb(255, 255, 255);   
}
